/**/*.ts
/**/*.mjs
/**/*.js.map
/**/*.mjs.map
!/**/*.d.ts
/tests/**/*.*
/*.js
/*.mjs
/*.d.ts
!index.js
!index.d.ts
!javascript.js
!javascript.d.ts
!typescript.js
!typescript.d.ts
/coverage/
/.c8rc*.json
/.devcontainer/
/.github/
/.idea/
/Makefile
/.editorconfig
/.eslintignore
/.eslintcache
/.eslintrc.json
/.prettierignore
/.prettierrc
/tsconfig*.json
/eslint.config.d.mts
/eslint.config.js.d.mts
